body
body
    background-image: url(../img/jellyfish-gcdb9508dd_1920.jpg)

header
    .navbar
        .container-fluid
            justify-content: center
            .navbar-collapse
                flex-grow: 0
            a
                color: white
            .nav-link
                text-transform: uppercase
                color: white
    .navbar-media
        position: fixed
        top: 50%
        transform: translate(0, -50%)
        .container-fluid
            flex-direction: column
            justify-content: center
            .navbar-nav
                flex-direction: column
                text-align: center

.content
    // background: green
    .row
        margin: 60px 0
        .col-8
            // background: blue
        .col-4
            // background: pink
            h2
                font-weight: 800
                font-size: 60px
                color: #84d7ff
                margin-bottom: 20px
            p
                color: white
